@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../../node_modules/bootstrap-vue/dist/bootstrap-vue.css';

.invalid-feedback2 {
  margin-top: .25rem;
  margin-bottom: .25rem;
  font-size: .875rem;
  color: #dc3545;
}