<template>
    <b-row cols="4">
        <b-col><some-card title="Some title!"></some-card></b-col>
        <b-col><registration></registration></b-col>
    </b-row>
</template>

<script type="es6">

    import SomeCard from './../components/card.vue';
    import Registration from './../components/registration.vue';

    export default {
        components: {
            SomeCard,
            Registration
        }
    }
</script>