<template>
    <form @submit.prevent="validateBeforeSubmit">
        <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input class="form-control" v-model="username" id="exampleInputEmail1" aria-describedby="emailHelp"
                   placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" v-model="password" id="exampleInputPassword1"
                   placeholder="Password">
        </div>
        <div v-show="badCredentials" class="invalid-feedback2">
            Invalid username or password
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</template>

<script>
    var querystring = require('querystring');

    export default {
        data() {
            return {
                username: 'metasite',
                password: 'dummy',
                badCredentials: false
            }
        },
        methods: {
            validateBeforeSubmit() {
                this
                    .$http
                    .post('/login_check', querystring.stringify({
                        "_username": this.username,
                        "_password": this.password,
                    }), {
                        headers: {
                            'Content-type': 'application/x-www-form-urlencoded'
                        }
                    })
                    .then(response => {
                        this.$store.commit('login', {username: this.username, accessToken: response.data.token});
                        this.$router.push({ path: '/users' });
                    }, error => {
                        if (error.response.status === 401) {
                            this.badCredentials = true;
                        } else {
                            alert('Something wrong');
                        }
                    })
                    .catch(function (a, b) {
                        console.log(a, b)
                    });
            }
        }
    }
</script>