<template>
    <div>
        <h2>Registrations</h2>

        <div class="row">
            <div class="col-md-6">&nbsp;</div>
            <div class="col-md-6">
                <b-form-group horizontal label="Filter" :label-cols="3">
                    <b-form-input v-model="filter" placeholder="Filter"/>
                </b-form-group>
            </div>
        </div>

        <b-table striped hover show-empty
                 :items="items"
                 :fields="fields"
                 :current-page="currentPage"
                 :per-page="perPage"
                 :filter="filter"
                 @filtered="onFiltered"
        >
            <!-- A custom formatted column -->
            <template slot="categories" scope="data">
                {{ data.unformatted.join(", ") }}
            </template>

            <template slot="created_at" scope="data">
                {{ data.value | date }}
            </template>

            <template slot="actions" scope="row">
                <!-- We use click.stop here to prevent a 'row-clicked' event from also happening -->
                <b-btn size="sm" @click.stop="modalEdit(row.item,row.index,$event.target)">Edit</b-btn>
                <b-btn size="sm" @click.stop="modalDelete(row.item,row.index,$event.target)">Delete</b-btn>
            </template>

        </b-table>

        <b-modal id="modalEdit" ref="modalEditRef" title="Edit record" @ok="handleEdit">
            <form>
                <div v-show="customError" class="invalid-feedback2">
                    {{ customError }}
                </div>
                <div class="form-group" :class="{'has-error': errors.has('name') }">
                    <label class="control-label" for="registration_name">Your name</label>
                    <input v-model="modalEditData.data.name"
                           name="name"
                           v-validate="'required|alpha_spaces|min:3|max:100'"
                           :class="['form-control', {'is-invalid': errors.has('name')}]"
                           placeholder="Name"
                           id="registration_name"
                    >
                    <div class="invalid-feedback" v-show="errors.has('name')">
                        {{ errors.first('name') }}
                    </div>
                </div>
                <div class="form-group" :class="{'has-error': errors.has('email') }">
                    <label class="control-label" for="registration_email">Email</label>
                    <input v-model="modalEditData.data.email"
                           name="email"
                           v-validate="'required|email'"
                           :class="['form-control', {'is-invalid': errors.has('email')}]"
                           placeholder="Email address"
                           id="registration_email"
                    >
                    <div class="invalid-feedback" v-show="errors.has('email')">
                        {{ errors.first('email') }}
                    </div>
                </div>
            </form>
        </b-modal>

        <b-modal id="modalDelete"

                 title="Confirmation"
                 @ok="handleDelete"
        >
            <p class="my-4">Are you sure to delete this record?</p>
        </b-modal>



        <div class="row">
            <div class="col-md-12">
                <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage"/>
            </div>
        </div>
    </div>
</template>


<script type="es6">

    let dateFormat = require('dateformat');
    export default {
        filters: {
            date(value) {
                return dateFormat(new Date(value), "yyyy-mm-dd hh:MM:ss");
            }
        },
        data() {
            return {
                fields: [
                    {
                        key: 'name',
                        sortable: true,
                    },
                    {
                        key: 'email',
                        sortable: true,
                    },
                    {
                        key: 'categories',
                        sortable: false,
                    },
                    {
                        key: 'created_at',
                        sortable: true,
                    },
                    { label: 'Actions', key: 'actions'  }
                ],
                sort: 'created_at',
                order: 'desc',
                totalRows: 0,
                currentPage: 1,
                perPage: 10,
                filter: null,
                items: [],
                modalDetails: { index:'', data:'' },
                modalEditData: { index:'', data:'' },
                customError: null,
            }
        },
        created() {
            this.refresh();
        },
        methods: {
            handleEdit(event) {
              event.preventDefault();
              if (this.errors.items.length === 0)
              {
                  this.$http
                      .post('/api/newsletter/subscribers/update', {
                          uuid: this.modalEditData.data.uuid,
                          name: this.modalEditData.data.name,
                          email: this.modalEditData.data.email,
                      }, {
                          headers: {
                              'Authorization': 'Bearer ' + this.$store.state.accessToken
                          }
                      })
                      .then(response =>{
                          this.refresh();
                          this.customError = null;
                          this.$refs.modalEditRef.hide();
                      }, error => {
                          if (error.response.status === 400) {
                              if (error.response.data.errors.email) {
                                  this.customError = "Looks like new email address '"+ this.modalEditData.data.email +"' is used.";
                              } else {
                                  this.customError = 'Ok, we have some problems with data validation';
                              }

                          } else {
                              this.onError(error);
                          }
                      })
              }
            },
            handleDelete(event) {
                this.$http
                    .post('/api/newsletter/subscribers/delete', {
                        uuid: this.modalDetails.data.uuid,
                    }, {
                        headers: {
                            'Authorization': 'Bearer ' + this.$store.state.accessToken
                        }
                    })
                    .then(response => {
                        this.refresh()
                    }, this.onError);

            },
            onError(error) {
                if (error.response.status === 401) {
                    this.$store.commit('cleanup');
                    this.$router.push({ path: '/login' });
                } else {
                    alert('Something wrong with server?');
                }
            },

            onFiltered(filteredItems) {
                // Trigger pagination to update the number of buttons/pages due to filtering
                this.totalRows = filteredItems.length;
                this.currentPage = 1;
            },
            refresh() {
                this.$http
                    .get('/api/newsletter/subscribers', {
                        headers: {
                            'Authorization': 'Bearer ' + this.$store.state.accessToken
                        }
                    })
                    .then(response => {
                        this.items = response.data;
                        this.totalRows = this.items.length;
                        this.page = 1;
                    }, this.onError);
            },
            modalEdit(item, index, button) {
                this.modalEditData.data = JSON.parse( JSON.stringify( item ));
                this.modalEditData.index = index;
                this.$root.$emit('bv::show::modal','modalEdit', button);
            },
            modalDelete(item, index, button) {
                this.modalDetails.data = item;
                this.modalDetails.index = index;
                this.$root.$emit('bv::show::modal','modalDelete', button);
            },
            resetModal() {
                this.modalDetails.data = '';
                this.modalDetails.index = '';
            },

        }
    }
</script>