<template>
    <b-card :title=title
            img-src="https://lorempixel.com/600/300/food/5/"
            img-alt="Image"
            img-top
            tag="article"
            style="max-width: 20rem;"
            class="mb-2">
        <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>
    </b-card>
</template>

<script>
    export default {
        props: ['title']
    }
</script>