<template>
    <b-navbar toggleable="md" type="dark" variant="info">
        <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

        <b-navbar-brand>Newsletter demo</b-navbar-brand>

        <b-collapse is-nav id="nav_collapse">

            <b-navbar-nav>
                <router-link to="/" class="nav-link">Home</router-link>
                <router-link to="/users" class="nav-link" v-if="username">Users</router-link>
            </b-navbar-nav>

            <!-- Right aligned nav items -->
            <b-navbar-nav class="ml-auto" v-if="!username">
                <b-nav-item right>
                    <router-link to="/login" class="nav-link">Login</router-link>
                </b-nav-item>
            </b-navbar-nav>
            <b-navbar-nav class="ml-auto" v-if="username">
                <b-nav-item right>
                     <b-nav-item @click="logout">Logout {{ username }}</b-nav-item>
                </b-nav-item>
            </b-navbar-nav>

        </b-collapse>
    </b-navbar>
</template>

<script type="es6">
    export default {
        props: ['username'],
        methods: {
            logout() {
                this.$store.commit('cleanup');
                this.$router.push({ path: '/' });
            }
        }
    }
</script>