<template>
    <div>
        <h4>Registration</h4>
        <form @submit.prevent="validateBeforeSubmit" v-if="!formSubmitted">
            <div class="form-group" :class="{'has-error': errors.has('name') }">
                <label class="control-label" for="registration_name">Your name</label>
                <input v-model="name"
                       name="name"
                       v-validate="'required|alpha_spaces|min:3|max:100'"
                       :class="['form-control', {'is-invalid': errors.has('name')}]"
                       placeholder="Name"
                       id="registration_name"
                >
                <div class="invalid-feedback" v-show="errors.has('name')">
                    {{ errors.first('name') }}
                </div>
            </div>
            <div class="form-group" :class="{'has-error': errors.has('email') }">
                <label class="control-label" for="registration_email">Email</label>
                <input v-model="email"
                       name="email"
                       v-validate="'required|email'"
                       :class="['form-control', {'is-invalid': errors.has('email')}]"
                       placeholder="Email address"
                       id="registration_email"
                >
                <div class="invalid-feedback" v-show="errors.has('email')">
                    {{ errors.first('email') }}
                </div>
            </div>
            <div class="form-group" :class="{'has-error': errors.has('email') }">
                <label class="control-label">Select newsletters</label>
                <div class="form-check" v-for="item in categoryData">
                    <label class="form-check-label" >
                        <input class="form-check-input" type="checkbox" name="categories"
                               :value="item.id" v-model="categories" v-validate="'required'">
                        {{ item.name }}
                    </label>
                </div>
                <div v-show="errors.has('categories')" class="invalid-feedback2">
                    {{ errors.first('categories') }}
                </div>
            </div>
            <button class="btn btn-primary btn-block" type="submit">Submit</button>
        </form>
        <div v-else="">
            Thanks for you registration

            <button class="btn btn-secondary btn-block" type="button" @click="resetForm">Register new one</button>
        </div>
    </div>
</template>

<script type="es6">
    export default {
        $_veeValidate: {
            validator: 'new' // give me a new validator each time.
        },
        data() {
            return {
                categoryData: [],
                categories: [],
                categoriesError: false,
                email: '',
                name: '',
                formSubmitted: false
            }
        },
        mounted() {
            this.$http.get('/api/newsletter/categories').then(json => this.categoryData = json.data)
        },
        computed: {
            formData() {

                return {
                    "email": this.email,
                    "name": this.name,
                    "categories": this.categories,
                }
            }
        },
        methods: {
            resetForm() {
                this.email = '';
                this.name = '';
                this.categories = [];
                this.formSubmitted = false;
            },
            validateBeforeSubmit(e) {
                if (this.categories.length === 0) {
                    this.categoriesError = true;
                }
                this.$validator.validateAll();
                if (!this.errors.any() && this.categories.length >= 1) {
                    this.submitForm()
                }
            },
            submitForm() {
                this.formSubmitted = true;
                this
                    .$http
                    .post('/api/newsletter/subscribe', JSON.stringify(this.formData))
                    .then(response => {
                        console.log(response);
                        this.formSubmitted = true;
                    }).catch(error => alert('Something wrong happend :)'));
            }
        }
    };
</script>