<template>
    <b-container>
        <nav-bar :username="username"></nav-bar>
        <router-view></router-view>
    </b-container>
</template>

<script type="es6">

    import NavBar from './components/navbar.vue';

    export default {
        data() {
            return {}
        },
        computed: {
            username() {
                return this.$store.state.username;
            }
        },
        mounted() {
//            this.$ls.on('username', data => {
//                this.username = data;
//                console.log('wwww', data);
//                return data;
//            });
        },
        components: {
            NavBar,
        }

    }
</script>